<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <!-- <span class="flaticon-pizza-1 mr-1"></span> -->
        <span ></span>
          Sésamos<br>
          <small>Cocina chiapaneca</small>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/']" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/menu']" class="nav-link">Menú</a></li>

        
        <!-- <li class="nav-item"><a href="services.html" class="nav-link">Servicios</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li> -->


        <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/about']" class="nav-link">Acerca</a></li>
        <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/contact']" class="nav-link">Contáctanos</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
